@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,700,800&display=swap");

html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-display: swap;
}

html,
body {
  height: 100%;
}

:root {
  --bg-color: #1e1e1e;
  --text-color: #f9fafb;
  --primary-color: #19191c;
  --secondary-color: #121214;
  --active-color: #e11d48;
  --activeSecondary-color: orange;
  --font: "Inter", serif;

  --transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#root {
  background-color: var(--secondary-color);
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  height: 100%;
}

body {
  background-color: var(--bg-color);
  font-family: "Inter", serif;
  font-weight: 400;
  color: var(--text-color);
}

h1,
h2 {
  color: var(--text-color);
}

button {
  font-family: "Inter", serif;
  font-weight: 400;

  background-color: var(--primary-color);
  color: var(--text-color);
  cursor: pointer;
}

li {
  font-family: "Inter", serif;
  font-weight: 500;
}

.playlist-container {
  justify-content: space-between;
  padding-top: 24px;
  display: flex;
}
form {
  display: block;
}

header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.container {
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.form-video {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.form-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  align-items: baseline;
}

.form-comment > textarea {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  height: 70px;
  resize: none;
  border-bottom: 2px solid var(--primary-color);
  outline: none;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.form-comment > button {
  padding: 8px;
  border-radius: 16px;
}

.pt-40 {
  margin-top: 40px;
}
.pb-40 {
  margin-bottom: 40px;
}

form > input {
  border-radius: 6px;
  padding: 8px;
  height: max-content;
}

/* rating */
.rating-wrapper {
  display: flex;
  gap: 16px;
}

.button-like,
.button-dislike {
  width: 32px;
  height: 32px;

  background-color: transparent;
  border: none;
}

.button-like:hover .like-icon {
  fill: var(--active-color);
  transition: var(--transition);
}

.button-dislike:hover .dislike-icon {
  fill: var(--activeSecondary-color);
  transition: var(--transition);
}

.dislike-icon {
  transform: rotate(180deg);
}

.like-icon,
.dislike-icon {
  fill: var(--text-color);
}

.button-like.active .like-icon {
  fill: var(--active-color);
}

.button-dislike.active .dislike-icon {
  fill: var(--activeSecondary-color);
}

.rewiews > h2 {
  margin-bottom: 40px;
}

.rewiews > ul {
  list-style: none;
}

.rewiews > ul > li {
  margin-bottom: 22px;
}

.rewiews > ul > li:last-child {
  margin-bottom: 0;
}
